
/* --- GAME CONTENT --- */

/* CONSOLE */
.console {
    position: sticky;
    top: 10px;
    width: 100%;
    max-width: 600px;
    min-height: 90px;
    margin: 1em auto;
    padding: 0.5em 0;
    font-size: 0.8rem;
    font-family: 'Special Elite', cursive;
    text-align: center;
    letter-spacing: 1px;
    color: #9e9d9d;
    background-color: rgba(45, 45, 45, 0.9);
    border: 10px ridge #292b27;
}

.console p {
    margin-bottom: 0.5px;
}

/* Latest message on the console */
.latest_msg {
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.8em;
    border-top: 2px solid black;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 800px) {
    .latest_msg {
        font-size: 1.1rem;
        margin: 0 auto;
    }
}

.divider {
    align-self: stretch;
    background-color: white;
}

/* Gameboard Items title */
.gameboard__title {
    font-size: 1rem;
}

.gameboard-container {
    width: 100%;
    max-width: 900px;
    margin: 2em auto;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 700px) {
    .gameboard-container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 1em;
    }
}
