*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background-image: url("./assets/backgroundImg.jpg");
    background-color: #494949;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Wallpoet', cursive;

}


img {
    display: block;
    max-width: 100%;
}

button {
    font-family: 'Wallpoet', cursive;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

h2, h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    color: #a5a5a5;
}

h3 {
    padding-bottom: 0.5em;
    border-bottom: 2px solid black;
}



header {
    margin: 1em auto 2em;
    padding: 1em;
    background-color: #5E626D;
    border: 10px #464852 ridge;
    color: #000000;
    width: 90%;
    max-width: 900px;
    text-transform: uppercase;
    text-align: center;
}

header p {
    font-weight: bolder;
}

/*GENERAL STYLES*/
.flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.wrap {
    display: flex;
}

.game-info {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 3em;
    padding: 1em 0;
    border: 10px ridge #3f4238;
    text-align: center;
    background-color: #6b705c;
    font-family: 'Special Elite', cursive;
}

.game-info p {
    font-size: 1.3rem;
    margin: 0;
}

/*.ship-position {
    background-color: #878787;
}*/


.drag-hover {
    background-color: #83c5be !important;
}

.invisible {
    visibility: hidden;
}


@media (min-width: 900px) {
    .flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


}