
@import "styles/animations.css";
@import "styles/buttons.css";
@import "styles/ship_placement.css";
@import "styles/game_content.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background-image: url("./assets/backgroundImg.jpg");
    background-color: #494949;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Wallpoet', cursive;
}

img {
    display: block;
    max-width: 100%;
}

/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1 {
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

h2, h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    color: #a5a5a5;
}

h3 {
    font-size: 0.9rem;
    padding-bottom: 0.5em;
    border-bottom: 2px solid black;
}

li {
    letter-spacing: 1px;
    margin-bottom: 1em;
    font-family: 'Special Elite', cursive;
}

/* ---SCROLLBAR--- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*---GENERAL STYLES---*/

/* Gameboard grid cell */
.cell {
    border: 1px solid #3e3e3f;
    background-color: #f1f1f1;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

/* Gameboard grid coordinate label on the side */
.coordinate-label {
    border: 1px solid #2a2a2a;
    background-color: rgb(77 77 77 / 55%);
    color: #cdcbcb;
    padding: 0 0.5em;
}

/* ---SELECTING LEVEL STYLES--- */
.col {
    width: 100%;
    padding: 0 1em;
    font-family: "Special Elite", cursive;
    color: #9e9d9d;
}

.col + .col {
    margin-top: 2em;
    padding: 0.5em 1em;
    border-top: 2px solid #9e9d9d;
}

.col__btn {
    text-align: center;
    align-self: stretch;
}

@media (min-width: 900px) {
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .col + .col {
        margin-top: 0;
        padding: 0 1em;
        border-left: 2px solid #9e9d9d;
        border-top: none;
    }
}


/* ---WHEN SPECIFIC STATE, ADD ONE OF THESE CLASSES--- */
/* when user places ships on the board, invalid message is hidden, until user tries to position ships to invalid positions */
.hidden {
    display: none;
}

.drag-hover {
    background-color: #83c5be !important;
}

.invisible {
    visibility: hidden;
}

/* ---MEDIA QUERIES--- */
´
@media (min-width: 1000px) {

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    .row {
        font-size: 1rem;
    }
}


