*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background-image: url("./assets/backgroundImg.jpg");
    background-color: #494949;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Wallpoet', cursive;

}

.filter-on {
    filter: blur(2px);
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: 'Wallpoet', cursive;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

h2, h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    color: #a5a5a5;
}

h3 {
    padding-bottom: 0.5em;
    border-bottom: 2px solid black;
}


/*GENERAL STYLES*/
.flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.wrap {
    display: flex;
}

.game-info {
    width: 100%;
    max-width: 600px;
    min-height: 180px;
    margin: 2em auto;
    padding: 1em 0;
    font-size: 1rem;
    font-family: 'Special Elite', cursive;
    text-align: center;
    letter-spacing: 1px;
    color: #9e9d9d;
    background-color: rgba(45, 45, 45, 0.76);
    border: 10px ridge #292b27;

}

.game-info p {
    margin-bottom: 0.5px;
}

.latest_msg {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 0.8em;
    border-top: 2px solid black;
    margin: 0 auto;
    width: 90%;
}

/*.ship-position {
    background-color: #878787;
}*/


.drag-hover {
    background-color: #83c5be !important;
}

.invisible {
    visibility: hidden;
}

@keyframes slideDownAndUp {
    0% {
        opacity: 0;
        top: -10%;
    }
    30% {
        opacity: 1;
        top: 30%;
    }
    60% {
        opacity: 1;
        top: 30%;
    }
    100% {
        opacity: 0;
        top: -10%;
    }
}

.invalid_position_animation {
    animation: slideDownAndUp 2500ms;
    opacity: 0;
}

.divider {
    align-self: stretch;
    margin-bottom: -50px;
    background-color: white;
}


@media (min-width: 900px) {
    .flex {
        flex-direction: row;
        justify-content: space-between;
    }


}